/* CSS Custom Properties Definitions */

:root {
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1312px;

  --space: 16px;

  --radius-sm: 3px;
  --radius: 5px;

  --color-blue: #2F8BCE;
  --color-blue-epam: #51C3D8;
  --color-pink: #FF5A93;
  --color-gray-dark: #444345;
  --color-gray-light: #F2F2F2;
  --color-white: #ffffff;

  --fontFamily-sans: 'Museo Sans', Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman", Times, serif;
}

/* Globals
/* =========== */

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  color: var(--color-gray-dark);
  font-family: var(--fontFamily-sans);
  line-height: 1.5;
  font-size: 15px;
}

/* typography
/* =========== */

h1, h2, h3 {
  line-height: 1.2;
}

/* colors
/* =========== */

.text-pink {
  color: var(--color-pink);
}

/* layout
/* =========== */

.container {
  padding: var(--space);
  max-width: var(--screen-xl);
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.col-1\/2 {
  width: 49%;
}

.col-1\/3 {
  width: calc(100% / 3);
}

/* Elements
/* =========== */

a {
  color: var(--color-blue);
  text-decoration: none;
}

.btn {
  border: 1px solid;
  color: inherit;
  background: none;
  border-radius: var(--radius-sm);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.btn-pink {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
}

/* Components
/* ========== */

/* header */

.global-header {
  background: var(--color-blue-epam);
  color: var(--color-white);
}

.main-header h1 {
  font-weight: normal;
}

/* footer */

.footer {
  text-align: center;
  background-color: var(--color-gray-light);
}

.footer a {
  display: block;
  color: var(--color-gray-dark);
  margin-bottom: var(--space);
}

.share {
  margin-top: var(--space);
}

/* touts */

.touts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tout {
  background-color: var(--color-gray-light);
  width: 48%;
  margin: var(--space) 0;
  padding: var(--space);
  min-height: 80px;
}

.tout h2 {
  margin: 0;
}

/* actions */

.action {
  border: 1px solid var(--color-gray-light);
  border-radius: var(--radius);
  padding: var(--space);
}

/* Screens
/* =========== */

/* Small (sm) */
@media (min-width: 640px) {
  
  .column {
    width: 25%;
  }
  
  .btn {
    display: inline-block;
  }

  .footer {
    text-align: left;
  }

  .footer .container {
    display: flex;
  }

  .tout {
    width: 192px;
    min-height: 176px;
  }
}

/* Medium (md) */
@media (min-width: 768px) {

}

/* Large (lg) */
@media (min-width: 1024px) {

}

/* Extra Large (xl) */
@media (min-width: 1312px) {

}
